extends layout
block content
	link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.css')
	script(type="text/javascript", src="/javascripts/bootstrap-datetimepicker.min.js")
	script.
		$(function (){
			$.fn.datetimepicker.dates['en'] = {
			    days: ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期天"],
			    daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
			    daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
			    months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			    monthsShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
			    today: "今天"
			};
			$('#birthday').datetimepicker({
				format : 'yyyy-mm-dd',
				minView : 'month',
				viewSelect : 'decade',
				autoclose: true,
				language : 'cn'
			});
		});
	.row
		.col-md-8.col-md-offset-2
			.row
				.col-md-4
					img(class="thumbnail", src="/images/user.png")
				.col-md-6
					.panel.panel-default
						.panel-heading
							填写患者信息
						.panel-body
							form(id="addPatientForm", action="/patient/create", method="POST")
								.form-group
									label 姓名
									input(type="text", class="form-control", id="name", name="name", placeholder="姓名")
								.form-group
									label 年龄
									input(type="number", class="form-control", id="age", name="age", placeholder="年龄")
								.form-group
									label 姓别
									label.radio-line 男   
										input(type="radio", name="gender", checked, value="男")
									label.radio-line 女   
										input(type="radio", name="gender", value="女")
								.form-group
									label 出生日期
									input(type="text", class="form-control", name="birthday", id="birthday", data-date-format="yyyy-mm-dd", size="16", placeholder="出生日期", readonly)
								.form-group
									label 手机号
									input(type="number", class="form-control", id="phone", name="phone", placeholder="手机号")
								.form-group
									label 病症分类
									.btn-group.desease-dropdown
										button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 请选择病症分类
											span.caret
										ul.dropdown-menu
											li
												a(href="#") Action
								.form-group
									label 病症详情
									textarea(class="form-control" rows="3")
								button(type="submit", class="pull-right btn btn-primary btn-block") 确认添加
